body {
    margin: 0 0 50px 0;
}
p, td, button{
    font-size:1rem;
}
.card img{
    margin: 1rem auto;
}
.card .card-body{
    text-align: center;
}
.card-profile img{
    border: 1px solid lightgray;
    border-radius: 50%;
    width:80%;
}
card-download img{

}
.recrutation-counter{
    width:1rem;
    height:1rem;
    background: white;
    border: 1px solid #e46f6f;
    border-radius: 50%;
    top:0;
    right:0;
}
.recrutation-counter p{
    font-size: 0.7rem;
    margin-bottom: 0;
    text-align: center;
    line-height: 0.7rem;
    margin-top: 2px;
}

.profile-header{
    height:350px;
    overflow:hidden;
    position:relative;
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-header .profile-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-header .profile-img {
    width:150px;
    height:150px;
    border-radius:50%;
    overflow: hidden;
    /*z-index: 2;*/
    margin:  0 auto;
    position: relative;
}
.profile-header .profile-img:hover .profile-update-avatar{
    /*background:lightgray;*/
    opacity:1;
    /*border-radius:3px;*/

}
.profile-header .profile-img img{
    border-radius:50%;
}
.profile-update-avatar{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    opacity:0.5;
    width:150px;
    text-align: center;
    background: lightcyan;
}

.nav-pills .nav-link{
    color: lightgray;
    border:1px solid transparent;
    min-width:115px;
    text-align:center;
    /*margin: 1em;*/
    width:100%;
    border-radius: 0!important;
}
.nav-pills .nav-link:hover{
    border:1px solid lightgray;
    opacity:.9;

}
.nav-pills .nav-link.active{
    background-color:darkgray!important;
}
#v-pills-tabContent{
    min-height:350px;
    padding: 1em 1em 1em 1em;
}
.pills-col{
    border-right: 1px solid lightgray;
}
.footer{
    position: fixed;
    width: 100%;
    bottom:0;
}
.footer .navbar-brand img{
    width:30%;
    height: auto;
}

.footer .credentials p{
    text-align: center;
    color:darkgray;
    margin:0;
}
